---
---

<!doctype html>
<html lang="ko" data-theme="light" class="preload">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>어질어질 블로그</title>
        <link ref="stylesheet" href="/global.css" />
    </head>
    <body>
        <div class="header-wrapper section">
            <header>
                <div class="left-side">
                    <h1 class="site-title">어질어질 블로그</h1>
                </div>
                <div class="right-side">
                    <div cass="toggle-theme">
                        <div class="toggle-theme-bg">
                            <div class="icon light"></div>
                            <div class="icon dark"></div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="nav-wrapper section">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    {% for page in dirs["__DIRECTORY__"] %}
                        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="main-wrapper section">
            <main>
                <!-- fetched content goes here -->
            </main>
        </div>
        <div class="footer-wrapper section">
            <footer>
                <div class="footer-msg">
                    <div>Designed by <span class="icon ehzil"></span>EHZIL,</div>
                    <div>Built with <span class="icon deno"></span>Deno,</div>
                    <div>Deployed on <span class="icon github"></span>Github.</div>
                </div>
            </footer>
        </div>
    </body>
</html>