@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
// @import url("https://cdn.jsdelivr.net/npm/d2coding@1.3.2/d2coding-full.min.css");
@font-face{font-family:D2Coding;font-style:normal;font-weight:700;font-display:block;src:local('D2Coding Bold'),url('https://cdn.jsdelivr.net/npm/d2coding@1.3.2/fonts/d2coding-bold-full.woff2') format('woff2'),url('https://cdn.jsdelivr.net/npm/d2coding@1.3.2/fonts/d2coding-bold-full.woff') format('woff'),url('https://cdn.jsdelivr.net/npm/d2coding@1.3.2/fonts/d2coding-bold-full.ttf') format('truetype')}@font-face{font-family:D2Coding;font-style:normal;font-weight:400;font-display:swap;src:local('D2Coding Regular'),url('https://cdn.jsdelivr.net/npm/d2coding@1.3.2/fonts/d2coding-full.woff2') format('woff2'),url('https://cdn.jsdelivr.net/npm/d2coding@1.3.2/fonts/d2coding-full.woff') format('woff'),url('https://cdn.jsdelivr.net/npm/d2coding@1.3.2/fonts/d2coding-full.ttf') format('truetype')}

// globals

@mixin shape {
    vertical-align: middle;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
@mixin quote {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m6.585 17.308l2.396-4.174q-.173.097-.404.135t-.461.039q-1.4 0-2.354-.972q-.954-.971-.954-2.336q0-1.4.954-2.354t2.354-.954q1.364 0 2.336.954t.971 2.347q0 .486-.118.906t-.336.793l-3.238 5.616zm8.769 0l2.396-4.173q-.173.096-.404.134t-.461.039q-1.4 0-2.354-.972q-.954-.971-.954-2.336q0-1.42.954-2.363t2.354-.945q1.364 0 2.336.954t.971 2.347q0 .486-.118.906t-.335.793L16.5 17.308zm-7.238-5.116q.913 0 1.552-.639q.64-.64.64-1.553t-.64-1.553t-1.552-.64q-.914 0-1.553.64q-.64.64-.64 1.553t.64 1.553t1.553.64m8.769 0q.913 0 1.553-.64T19.077 10t-.64-1.553t-1.552-.64t-1.553.64t-.64 1.553t.64 1.553t1.553.64M8.115 10'/%3E%3C/svg%3E");
}
@mixin light {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11.5 5.423V2.039h1v3.384zm5.496 2.289l-.682-.683l2.357-2.452l.727.733zm1.581 4.788v-1h3.385v1zM11.5 21.962v-3.366h1v3.366zM7.042 7.68L4.577 5.329l.752-.708L7.73 7.004zm11.624 11.742l-2.352-2.452l.677-.657l2.388 2.346zM2.039 12.5v-1h3.384v1zm3.27 6.923l-.688-.752l2.358-2.357l.36.348l.378.354zM12.006 17q-2.082 0-3.544-1.457T7 12.005T8.457 8.46T11.995 7t3.544 1.457T17 11.995t-1.457 3.544T12.005 17M12 16q1.65 0 2.825-1.175T16 12t-1.175-2.825T12 8T9.175 9.175T8 12t1.175 2.825T12 16m0-4'/%3E%3C/svg%3E");
}
@mixin dark {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13.1 22h-2.6l.212-.155q.212-.155.462-.348t.462-.348l.212-.155h1.385q2.16-.034 3.997-1.128q1.837-1.095 2.895-2.991q-2.15-.201-4.075-1.094q-1.925-.892-3.45-2.425q-1.506-1.525-2.415-3.45Q9.275 7.98 9.1 5.85Q7.175 6.925 6.088 8.813T5 12.9q0 .3.029.64t.086.622l-.146.05q-.146.052-.335.115q-.19.064-.336.124l-.146.06q-.07-.39-.11-.795Q4 13.31 4 12.9q0-2.92 1.68-5.265t4.436-3.27q-.104 2.34.717 4.501q.82 2.161 2.48 3.82q1.66 1.66 3.82 2.481t4.502.717q-.92 2.754-3.268 4.435T13.1 22M6 21h4.5q.625 0 1.063-.437T12 19.5t-.425-1.062T10.55 18h-1.3l-.5-1.2q-.35-.825-1.1-1.312T6 15q-1.25 0-2.125.863T3 18q0 1.25.875 2.125T6 21m0 1q-1.671-.039-2.835-1.193Q2 19.652 2 17.994q0-1.657 1.165-2.826Q4.329 14 6.002 14q1.21 0 2.2.656t1.47 1.767l.25.577h.615q1.02.012 1.742.742q.721.73.721 1.758q0 1.046-.727 1.773T10.5 22z'/%3E%3C/svg%3E");
}
@mixin description {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8.5 17.5h7v-1h-7zm0-4h7v-1h-7zM5 21V3h9.5L19 7.5V21zm9-13V4H6v16h12V8zM6 4v4zv16z'/%3E%3C/svg%3E");
}
@mixin updated {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.02 20q-1.664 0-3.119-.626T6.359 17.66t-1.714-2.542T4.02 12t.626-3.118T6.36 6.34T8.9 4.626T12.019 4q1.723 0 3.282.712q1.559.711 2.718 1.984V4.308h1v4.154h-4.153v-1h2.48q-1.044-1.15-2.41-1.806Q13.572 5 12.02 5Q9.094 5 7.057 7.038T5.019 12t2.038 4.963T12.019 19q2.625 0 4.569-1.71t2.35-4.29h1.012q-.356 3.021-2.62 5.01Q15.066 20 12.02 20m3.146-4.146l-3.647-3.646V7h1v4.792l3.354 3.354z'/%3E%3C/svg%3E");
}
@mixin label {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.27 19v-1h2.865l4.615-6l-4.615-6H4v4.616H3V5h12.635L21 12l-5.365 7zm-6.385 1v-3h-3v-1h3v-3h1v3h3v1h-3v3z'/%3E%3C/svg%3E");
}
@mixin h2 {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.537 12L5.942 7.4l.708-.708L11.958 12L6.65 17.308l-.708-.708zm6.1 0l-4.595-4.6l.708-.708L18.058 12l-5.308 5.308l-.708-.708z'/%3E%3C/svg%3E");
}
@mixin deno {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M1.105 18.02A11.9 11.9 0 0 1 0 12.985q0-.698.078-1.376a12 12 0 0 1 .231-1.34A12 12 0 0 1 4.025 4.02a12 12 0 0 1 5.46-2.771a12 12 0 0 1 3.428-.23c1.452.112 2.825.477 4.077 1.05a12 12 0 0 1 2.78 1.774a12.02 12.02 0 0 1 4.053 7.078A12 12 0 0 1 24 12.985q0 .454-.036.914a12 12 0 0 1-.728 3.305a12 12 0 0 1-2.38 3.875c-1.33 1.357-3.02 1.962-4.43 1.936a4.4 4.4 0 0 1-2.724-1.024c-.99-.853-1.391-1.83-1.53-2.919a5 5 0 0 1 .128-1.518c.105-.38.37-1.116.76-1.437c-.455-.197-1.04-.624-1.226-.829c-.045-.05-.04-.13 0-.183a.155.155 0 0 1 .177-.053c.392.134.869.267 1.372.35c.66.111 1.484.25 2.317.292c2.03.1 4.153-.813 4.812-2.627s.403-3.609-1.96-4.685s-3.454-2.356-5.363-3.128c-1.247-.505-2.636-.205-4.06.582c-3.838 2.121-7.277 8.822-5.69 15.032a.191.191 0 0 1-.315.19a12 12 0 0 1-1.25-1.634a12 12 0 0 1-.769-1.404M11.57 6.087c.649-.051 1.214.501 1.31 1.236c.13.979-.228 1.99-1.41 2.013c-1.01.02-1.315-.997-1.248-1.614c.066-.616.574-1.575 1.35-1.635'/%3E%3C/svg%3E");
}
@mixin github {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
}

* {
    box-sizing: border-box;
}

html, body, div, header, nav, main, article, section, aside, footer {
    -ms-overflow-style: none; scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }   
}

:root{/* referenced by https://tailwindcss.com/docs/colors */ --tw-red-50:#FEF2F2;--tw-red-100:#FEE2E2;--tw-red-200:#FECACA;--tw-red-300:#FCA5A5;--tw-red-400:#F87171;--tw-red-500:#EF4444;--tw-red-600:#DC2626;--tw-red-700:#B91C1C;--tw-red-800:#991B1B;--tw-red-900:#7F1D1D;--tw-orange-50:#FFF7ED;--tw-orange-100:#FFEDD5;--tw-orange-200:#FED7AA;--tw-orange-300:#FDBA74;--tw-orange-400:#FB923C;--tw-orange-500:#F97316;--tw-orange-600:#EA580C;--tw-orange-700:#C2410C;--tw-orange-800:#9A3412;--tw-orange-900:#7C2D12;--tw-amber-50:#FFFBEB;--tw-amber-100:#FEF3C7;--tw-amber-200:#FDE68A;--tw-amber-300:#FCD34D;--tw-amber-400:#FBBF24;--tw-amber-500:#F59E0B;--tw-amber-600:#D97706;--tw-amber-700:#B45309;--tw-amber-800:#92400E;--tw-amber-900:#78350F;--tw-yellow-50:#FFFBEB;--tw-yellow-100:#FEF3C7;--tw-yellow-200:#FDE68A;--tw-yellow-300:#FCD34D;--tw-yellow-400:#FBBF24;--tw-yellow-500:#F59E0B;--tw-yellow-600:#D97706;--tw-yellow-700:#B45309;--tw-yellow-800:#92400E;--tw-yellow-900:#78350F;--tw-lime-50:#F7FEE7;--tw-lime-100:#ECFCCB;--tw-lime-200:#D9F99D;--tw-lime-300:#BEF264;--tw-lime-400:#A3E635;--tw-lime-500:#84CC16;--tw-lime-600:#65A30D;--tw-lime-700:#4D7C0F;--tw-lime-800:#3F6212;--tw-lime-900:#365314;--tw-green-50:#ECFDF5;--tw-green-100:#D1FAE5;--tw-green-200:#A7F3D0;--tw-green-300:#6EE7B7;--tw-green-400:#34D399;--tw-green-500:#10B981;--tw-green-600:#059669;--tw-green-700:#047857;--tw-green-800:#065F46;--tw-green-900:#064E3B;--tw-emerald-50:#ECFDF5;--tw-emerald-100:#D1FAE5;--tw-emerald-200:#A7F3D0;--tw-emerald-300:#6EE7B7;--tw-emerald-400:#34D399;--tw-emerald-500:#10B981;--tw-emerald-600:#059669;--tw-emerald-700:#047857;--tw-emerald-800:#065F46;--tw-emerald-900:#064E3B;--tw-teal-50:#F0FDFA;--tw-teal-100:#CCFBF1;--tw-teal-200:#99F6E4;--tw-teal-300:#5EEAD4;--tw-teal-400:#2DD4BF;--tw-teal-500:#14B8A6;--tw-teal-600:#0D9488;--tw-teal-700:#0F766E;--tw-teal-800:#115E59;--tw-teal-900:#134E4A;--tw-cyan-50:#ECFEFF;--tw-cyan-100:#CFFAFE;--tw-cyan-200:#A5F3FC;--tw-cyan-300:#67E8F9;--tw-cyan-400:#22D3EE;--tw-cyan-500:#06B6D4;--tw-cyan-600:#0891B2;--tw-cyan-700:#0E7490;--tw-cyan-800:#155E75;--tw-cyan-900:#164E63;--tw-sky-50:#F0F9FF;--tw-sky-100:#E0F2FE;--tw-sky-200:#BAE6FD;--tw-sky-300:#7DD3FC;--tw-sky-400:#38BDF8;--tw-sky-500:#0EA5E9;--tw-sky-600:#0284C7;--tw-sky-700:#0369A1;--tw-sky-800:#075985;--tw-sky-900:#0C4A6E;--tw-blue-50:#EFF6FF;--tw-blue-100:#DBEAFE;--tw-blue-200:#BFDBFE;--tw-blue-300:#93C5FD;--tw-blue-400:#60A5FA;--tw-blue-500:#3B82F6;--tw-blue-600:#2563EB;--tw-blue-700:#1D4ED8;--tw-blue-800:#1E40AF;--tw-blue-900:#1E3A8A;--tw-indigo-50:#EEF2FF;--tw-indigo-100:#E0E7FF;--tw-indigo-200:#C7D2FE;--tw-indigo-300:#A5B4FC;--tw-indigo-400:#818CF8;--tw-indigo-500:#6366F1;--tw-indigo-600:#4F46E5;--tw-indigo-700:#4338CA;--tw-indigo-800:#3730A3;--tw-indigo-900:#312E81;--tw-violet-50:#F5F3FF;--tw-violet-100:#EDE9FE;--tw-violet-200:#DDD6FE;--tw-violet-300:#C4B5FD;--tw-violet-400:#A78BFA;--tw-violet-500:#8B5CF6;--tw-violet-600:#7C3AED;--tw-violet-700:#6D28D9;--tw-violet-800:#5B21B6;--tw-violet-900:#4C1D95;--tw-purple-50:#F5F3FF;--tw-purple-100:#EDE9FE;--tw-purple-200:#DDD6FE;--tw-purple-300:#C4B5FD;--tw-purple-400:#A78BFA;--tw-purple-500:#8B5CF6;--tw-purple-600:#7C3AED;--tw-purple-700:#6D28D9;--tw-purple-800:#5B21B6;--tw-purple-900:#4C1D95;--tw-fuchsia-50:#FDF4FF;--tw-fuchsia-100:#FAE8FF;--tw-fuchsia-200:#F5D0FE;--tw-fuchsia-300:#F0ABFC;--tw-fuchsia-400:#E879F9;--tw-fuchsia-500:#D946EF;--tw-fuchsia-600:#C026D3;--tw-fuchsia-700:#A21CAF;--tw-fuchsia-800:#86198F;--tw-fuchsia-900:#701A75;--tw-pink-50:#FDF2F8;--tw-pink-100:#FCE7F3;--tw-pink-200:#FBCFE8;--tw-pink-300:#F9A8D4;--tw-pink-400:#F472B6;--tw-pink-500:#EC4899;--tw-pink-600:#DB2777;--tw-pink-700:#BE185D;--tw-pink-800:#9D174D;--tw-pink-900:#831843;--tw-rose-50:#FFF1F2;--tw-rose-100:#FFE4E6;--tw-rose-200:#FECDD3;--tw-rose-300:#FDA4AF;--tw-rose-400:#FB7185;--tw-rose-500:#F43F5E;--tw-rose-600:#E11D48;--tw-rose-700:#BE123C;--tw-rose-800:#9F1239;--tw-rose-900:#881337;--tw-slate-50:#F8FAFC;--tw-slate-100:#F1F5F9;--tw-slate-200:#E2E8F0;--tw-slate-300:#CBD5E1;--tw-slate-400:#94A3B8;--tw-slate-500:#64748B;--tw-slate-600:#475569;--tw-slate-700:#334155;--tw-slate-800:#1E293B;--tw-slate-900:#0F172A;--tw-gray-50:#F9FAFB;--tw-gray-100:#F3F4F6;--tw-gray-200:#E5E7EB;--tw-gray-300:#D1D5DB;--tw-gray-400:#9CA3AF;--tw-gray-500:#6B7280;--tw-gray-600:#4B5563;--tw-gray-700:#374151;--tw-gray-800:#1F2937;--tw-gray-900:#111827;--tw-zinc-50:#FAFAFA;--tw-zinc-100:#F4F4F5;--tw-zinc-200:#E4E4E7;--tw-zinc-300:#D4D4D8;--tw-zinc-400:#A1A1AA;--tw-zinc-500:#71717A;--tw-zinc-600:#52525B;--tw-zinc-700:#3F3F46;--tw-zinc-800:#27272A;--tw-zinc-900:#18181B;--tw-neutral-50:#FAFAFA;--tw-neutral-100:#F5F5F5;--tw-neutral-200:#E5E5E5;--tw-neutral-300:#D4D4D4;--tw-neutral-400:#A3A3A3;--tw-neutral-500:#737373;--tw-neutral-600:#525252;--tw-neutral-700:#404040;--tw-neutral-800:#262626;--tw-neutral-900:#171717;--tw-stone-50:#FAFAF9;--tw-stone-100:#F5F5F4;--tw-stone-200:#E7E5E4;--tw-stone-300:#D6D3D1;--tw-stone-400:#A8A29E;--tw-stone-500:#78716C;--tw-stone-600:#57534E;--tw-stone-700:#44403C;--tw-stone-800:#292524;--tw-stone-900:#1C1917}
:root {
    --fg-1: var(--tw-stone-900); --fg-2: var(--tw-stone-600); --fg-a: var(--tw-blue-600); --fg-b: var(--tw-red-600);
    --bg-1: var(--tw-stone-200); --bg-2: var(--tw-stone-50);
    --fg-note: var(--tw-stone-600); --bg-note: var(--tw-stone-200);

    &[data-theme="dark"] {

    }
}

body {
    font: 400 16px D2Coding,monospace; line-height: 1.3; color: var(--fg-1);
}

a, a:link, a:visited, a:hover, a:active {
    font-weight: 700; color: var(--fg-a); text-decoration: underline dotted var(--fg-a);
    cursor: pointer;
}

b {
    font-weight: 700; color: var(--fg-b);
}

hr {
    margin: 0; padding: 0; height: 0; border-color: var(--bg-2);
}


// layouts
body {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    background: var(--bg-1);
}

.layout {
    height: 100%; width: 100%;
    background: var(--bg-2);
    overflow-y: scroll;

    .section {
        position: relative; width: 100%;

        header, nav, main, footer {
            max-width: 900px; margin: 0 auto; padding: 5px;
        }
    }
}


// header
.section {
    &:has(header) {
        background: transparent;
    }
}
header {
    display: flex; justify-content: space-between; align-items: center;
    .leftside {
        display: flex; justify-content: left; align-items: center;
    }
    .rightside {
        display: flex; justify-content: right; align-items: center;
    }
    .site-title {
        font-size: 1.5rem;
    }
    .toggle-theme {
        outline: none; border: none; cursor: pointer;
        background: transparent;
        
        position: relative; height: 1.5rem; width: 1.5rem; margin: 0; padding: 0;
        display: block;
        overflow: hidden;
        
        > div {
            position: absolute; top: 0;
            height: 3rem; width: 1.5rem;
            display: flex; flex-direction: column;

            > span {
                flex: 1 0 0;
                display: block;
            }
            .material-symbols-light--sunny-outline {
                @include shape;
                @include light;
            }
            .material-symbols-light--nights-stay-outline {
                @include shape;
                @include dark;
            }
        }
        &.checked > div {
            top: -1.5rem;
        }
    }
}

// nav
.section {
    &:has(nav) {
        background: transparent;
    }
}
nav {
    ul {
        display: flex; justify-content: center; align-items: center; column-gap: 1.5rem;
    }
}

// main
.section {
    &:has(main) {
        background: transparent;
    }
}
main {
    .page-title {
        position: relative;
        margin: 3rem 2rem;
        font-size: 2rem; text-align: center;
        &:before {
            position: absolute; top: -1rem; left: -2rem;
            content: " "; display: inline-block; height: 2rem; width: 2rem;
            @include shape;
            @include quote;
            transform: rotate(180deg);
        }
        &:after {
            position: absolute; right: -2rem; bottom: -1rem;
            content: " "; display: inline-block; height: 2rem; width: 2rem;
            @include shape;
            @include quote;
        }
    }
    .page-description {
        &:before {
            content: " "; display: inline-block; height: 1rem; width: 1rem;
            @include shape;
            @include description;
        }
    }
    .page-updated {
        &:before {
            content: " "; display: inline-block; height: 1rem; width: 1rem;
            @include shape;
            @include updated;
        }
    }
    >p, >ul {
        margin: 1rem 0;
    }
    >h2 {
        margin: 3rem 0 1rem 0;
        font-size: 1.5rem;

        &:before {
            content: " "; display: inline-block; height: 1.5rem; width: 1.5rem;
            @include shape;
            @include h2;
        }
    }
    .page-tags {
        margin: 3rem 0 1rem 0;
        display: flex;

        &:before {
            content: " "; display: inline-block; height: 1rem; width: 1rem;
            @include shape;
            @include label;
        }

        ul {
            display: flex; justify-content: left; align-items: center; column-gap: 1rem;
            
            li {
                background: var(--bg-note);
            }
        }
    }
}

// footer
.section {
    &:has(footer) {
        background: transparent;
    }
}
footer {
    position: sticky; top: 100vh;
    
    .footer-msg {
        display: flex; justify-content: center; column-gap: 1rem; flex-wrap: wrap;
        .deno {
            display: inline-block; height: 1rem; width: 1.5rem; 
            @include shape;
            @include deno;
        }
        .github {
            display: inline-block; height: 1rem; width: 1.5rem; 
            @include shape;
            @include github;
        }
    }
}