---
---

doctype html
html(lang="ko" data-theme="light" class="preload")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title #{ site.title }
        link(rel="stylesheet" href="/global.css")
    body
        .layout
            .header-wrapper.section
                header
                    .left-side
                        h1.site-title #{ site.title }
                    .right-side
                        .toggle-theme
                            .toggle-theme-bg
                                .icon.light
                                .icon.dark
            .nav-wrapper.section
                nav
                    ul
                        li
                            a(href="/") Home
                        each page in dirs["__DIRECTORY__"]
                            li
                                a(href=page.permalink) #{ page.title }
            .main-wrapper.section
                main
                    // content goes here
            .footer-wrapper.section
                footer
                    .footer-msg
                        div
                            | Designed by 
                            span.icon.ehzil
                            | EHZIL,
                        div
                            | Built with 
                            span.icon.deno
                            | Deno,
                        div
                            | Deployed on 
                            span.icon.github
                            | Github.
        script(src="/global.js", type="module")
