---
---

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="global.css" />
    </head>
    <body>
        <div class="layout">
            <header class="section">
                <div class="leftside">
                    <h1 class="site-title">{{ site.title }}</h1>
                </div>
                <div class="rightside">
                    <button class="toggle-theme">
                        <div class="toggle-theme-wrapper">
                            <span class="material-symbols-light--sunny-outline"></span>
                            <span class="material-symbols-light--nights-stay-outline"></span>
                        </div>
                    </button>
                </div>
            </header>
            <hr>
            <nav class="section">
            </nav>
            <hr>
            <main class="section">
                <!-- content goes here -->
            </main>
            <hr>
            <footer class="section">
            </footer>
        </div>
        <script src="global.js"></script>
    </body>
</html>